.bg-style{
    box-shadow: 25px 25px rgb(50, 4, 255);
    transition: 1s;
    transition-timing-function: ease-in-out;
}
.bg-style:hover{
    box-shadow: -25px -25px rgb(50, 4, 255);
    transition: 1s;
    transition-timing-function: ease-in-out;
}
